html, body 
{
    height: 100%;
}

body
{
    background: rgb(23,23,53); 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dg.a 
{
   float: none !important;
}